<%- include("partials/header") -%>


<h1>Hello world!</h1>
<p> <%= startingContent%></p>


<% posts.forEach(function(post){ %>
  <h1><%= post.title %></h1>

  <p><%= post.content.substring(1, 100) + "..." %>  <a href= "/posts/<%=post._id%>"  >Read more</a></p>

<% } ) %>


<%- include("partials/footer") -%>
